<div class="container">
    <div class="jumbotron">
    </div>

    <div class="row">
        <div class="col col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Burgers</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        {{#each burger_data}}
                            {{#unless this.devoured}}
                                <div class="burgers col col-sm-12">
                                    <div class="col col-sm-6">
                                        <p class="burgers-name">{{this.burger_name}}</p>
                                    </div>
                                    <div class="col col-sm-3">
                                        <form action="/burgers/update?_method=PUT" method="POST">
                                            <input type="hidden" name="burger_id" value={{this.id}}>
                                            <button class="btn btn-sm btn-success center-block" type="submit">Devour It!</button>
                                        </form>
                                    </div>
                                
                                </div>
                            {{/unless}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Devoured Burgers</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        {{#each burger_data}}
                            {{#if this.devoured}}
                                <div class="burgers col col-sm-12">
                                    <div class="col col-sm-6">
                                        <p class="burgers-name">{{this.burger_name}}</p>
                                    </div>
     
                                </div>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- Create Burgers Modal -->
        <div class="modal fade" id="burger-Modal" tabindex="-1" role="dialog" aria-labelledby="myBurgerModal">
            <div class="modal-dialog modal-lg" role="document">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="#myBurgerModal">Create Burgers</h5>
                    </div>
                    <form class="create-update-form" action="/burgers/create" method="POST">
                        <div class="burger-create modal-body">
                            <div class="form-group">
                                <label for="burger">Burger Name</label>
                                <textarea rows="2" class="form-control" id="text_enter_button" name="burger_name" placeholder="Enter a Burger."></textarea>
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="burger_name" value="0">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-md btn-success" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>